<ion-menu side="start" menuId="primerMenu" contentId="main">

  <ion-content>

    <div class="menu-header-bg"></div>

    <div class="header-content">
      <img src="../../../assets/profile.jpeg" alt="">
      <ion-label>
        <h1>Mario Ochoa</h1>
        <p>Estudiante</p>
      </ion-label>
    </div>

    <ion-list lines="none" class="menu-items">

      <ion-menu-toggle *ngFor="let c of componentes | async">
        <ion-item [routerLink]="c.redirectTo">
          <ion-icon slot="start" [name]="c.icon"></ion-icon>
          <ion-label>{{c.name}}</ion-label>
        </ion-item>
      </ion-menu-toggle>

      
    </ion-list>
  </ion-content>
</ion-menu>